# Chi-test

In [1]:
# description :
# test is performed when 2 categroical features are compared from a single 
# population , used to determine if there is a siginificant association between them

# additional knowledge
# dataset_table = pd.crosstab(dataset['sex'],['smoker'])
# print(dataset_table)
# dataset_table.values, (remember the last time we actually used values, i think it is used on numpy arrays to get normal arrays)
# Observed_Values = dataset_table.values
# val = stats.chi2_contigency(dataset_table)
# it has a 2d matrix in output which says that, ideally that should have been the output
# this value is Expected value
# number_of_rows = len(dataset_table.iloc[0:2,0])
# numebr of columns = len(data_table.iloc[0, 0:2])
# ddof = (no_of_rows-1)* (no_of_columns-1) --> degree of freedom, we will require in further calculation
# the chi_square is calculated as SUMMATION[(observed_val - expected_val)^2/expected_val] 
# alpha is like a learning rate kind of , basically tells about varience
# just apply the formula 

# from here you can go for two techniques
# critical_value = chi2.ppf(q=1-alpha, df=ddof)
#           or
# p_value = 1-chi2.cdf(x=chi_square, df = ddof)

# p_value follows the same of above 0.05 eg
# for critical_value it should always be smaller than chi_square for h0 to get accepted

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [3]:
dataset = sns.load_dataset('tips')

In [4]:
dataset.head(4)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2

In [5]:
# lets see if there is any relation between the sex and smoker

In [6]:
observed = pd.crosstab(dataset['sex'], dataset['smoker'])

In [12]:
observed

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [13]:
exp = stats.chi2_contingency(observed)

In [14]:
exp

(0.008763290531773594,
 0.925417020494423,
 1,
 array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [15]:
expected = exp[3]

In [16]:
expected
shape = np.shape(expected)
ddof = (shape[0]-1)*(shape[1]-1)   # degree of freedom, its n-1 for 1d so it would be (n-1)*(m-1) for 2d
ddof

1

In [17]:
# this is how we calculate the chisquare, only thing here is we are applying it on each of the elements of the 2d matrix, don't
# get confused because of that..
chi_square = np.sum(np.array((observed-expected)*(observed-expected)/expected))

In [18]:
chi_square

0.001934818536627623

In [22]:
# above we obtained the chi_square value, I used numpy to simplify krish calculations

In [26]:
from scipy.stats import chi2

In [27]:
alpha = 0.05     # like a learning parameter

In [31]:
# to consider our hypthosis true either see the p_value or just see if the critical value is enough greater than the chi_squre

critical_value = chi2.ppf(q = 1-alpha, df= ddof)
critical_value

3.841458820694124

In [29]:
p_value = 1-chi2.cdf(x= chi_square, df=ddof)
p_value

0.964915107315732

In [30]:
# the condition of acceptance and rejection ***
if chi_square >= critical_value:
    print("reject h0")
else:
    print("keep h0")
if p_value <= alpha:
    print("reject h0 ++")
else:
    print("keep h0 ++")

keep h0
keep h0 ++