# MultiCollinearity in Linear Regression

In [1]:
# description
# multicollinearity is a condition when our independent variables have variable that are dependent on each other or there is a 
# corellation between them , when the corelation between them is greater than 90% then both features are not required instead we
# can select only one feature.

# to predict the presence of multicolinearity we will be using OLS(Ordinary Least Square) in LinearRegression, one thing that's 
# different in using OLS is that we need to append an additional column to to our data at 0th positon consisting of only 1's 
# this is told to be done, to multiply with the b0(beta0) value which comes in the equation(ignore the details for now).

# IMPROTING STATS MODEL API
# something new, we ---- import statsmodels.api as sm ---- this is used to provide us with various statistics of using our model
# the constant is added by ----  X= sm.add_constant(X) ------ and now the model is fitted
# using feature of model.summary() we obtain the summary
# X.iloc[: , -1].corr() will give us the corellation details , confirmation is done using it

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [14]:
df = pd.read_csv('datasets/Advertising.csv')

In [15]:
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [27]:
df = df.drop(['Unnamed: 0'], axis=1)

In [47]:
df.head(3)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0

In [35]:
y = df.iloc[:,-1]
X = df.iloc[: , : -1]

In [37]:
model = sm.OLS(y, X).fit()
# here (y, X) is input while we usually used to give (X, y)

In [38]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  Sales   R-squared (uncentered):                   0.982
Model:                            OLS   Adj. R-squared (uncentered):              0.982
Method:                 Least Squares   F-statistic:                              3566.
Date:                Mon, 29 Aug 2022   Prob (F-statistic):                   2.43e-171
Time:                        15:50:48   Log-Likelihood:                         -423.54
No. Observations:                 200   AIC:                                      853.1
Df Residuals:                     197   BIC:                                      863.0
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
TV             0.0538      0.001     40.507      0.000       0.051       0.056
Radio          0.2222      0.009     23.595      0.000       0.204       0.241
Newspaper      0.0168      0.007      2.517      0.013       0.004       0.030
==============================================================================
Omnibus:                        5.982   Durbin-Watson:                   2.038
Prob(Omnibus):                  0.050   Jarque-Bera (JB):                7.039
Skew:                          -0.232   Prob(JB):                       0.0296
Kurtosis:                       3.794   Cond. No.                         12.6
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [39]:
# observe the std_err is very less, so there is very less corellation/ colinearity between the independent variables so its good

In [42]:
# checking with corr() function
X.iloc[:, :].corr()

                 TV     Radio  Newspaper
TV         1.000000  0.054809   0.056648
Radio      0.054809  1.000000   0.354104
Newspaper  0.056648  0.354104   1.000000

In [43]:
### Example of model with greater colinearity

let's see an example with greater colinearity

In [44]:
df = pd.read_csv('datasets/Salary_Data.csv')

In [45]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [46]:
# the data i have got is different it does not include Age, so I stop here...  later if required continue